python=c:\Program Files (x86)\Anaconda2\python.exe
registry=https://registry.npmjs.org/
init-author-name=Juraj Moško
init-author-email=mosko.juro@centrum.sk
init-license=MIT
init-author-url=
email=mosko.juro@centrum.sk
progress=false
